/* You can add global styles to this file, and also import other style files */
.btn {
  border-radius: 0;
}

.option {
  background-color: #cadaee;
  font-size: 20px;
  padding: 10px;
  margin: 3px;
}
#quiz .options input[type="checkbox"] {
  height: 22px;
  width: 22px;
}

.cursor-pointer {
  cursor: pointer;
}

.result-question {
  background-color: #eee;
  margin: 4px;
  padding: 6px;
}

/* Create Quiz Styles */
.create-quiz .question {
  text-align: left;
}
.create-quiz input[type="text"] {
  border: 1px solid #ddd;
  width: 95%;
}
.create-quiz .tb-quiz-name {
  background-color: #ccffcc;
  text-align: center;
}

.create-quiz .tb-desc {
  background-color: #fff;
}

.create-quiz .options > div {
  margin-left: 20px;
}
.create-quiz .options input[type="checkbox"] {
  border: 1px solid #262626;
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  width: 20px;
  -webkit-appearance: checkbox;
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
  .option {
    font-size: 16px;
    padding: 6px;
  }
}
