<div class="row">
  <div class="col-6">
    <h3>Quiz Application</h3>
  </div>
  <div class="col-6 text-right">
    Select Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
        <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
      </select>
  </div>
</div>
<div id="quiz">
  <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
  <hr />

  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of quiz.questions; let idx = index;">
      <!-- <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div> -->
      <h3 class="font-weight-normal">{{idx + 1}}. <span [innerHTML]="question.name"></span></h3>
      <div class="row text-left options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
                <input id="{{option.id}}" type="checkbox" disabled="{{ isAnswered == 'Answered' }}" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                {{option.name}}
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="isAnswered(question) == 'Answered'" class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
    </div>
  </div>  
  <hr />
  <div *ngIf="mode!='result'">
    <button class="btn btn-primary" (click)="loadQuiz(quizName)">Restart Quiz</button>
  </div>
  <hr />
</div>
